@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Day - HTML Bootstrap Template</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />

    <link href="~/Content/animate.min.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <section id="about-us">
        <div class="container">
            <div class="text-center wow fadeInDown">
                <h2>About Skypark</h2>
                <p>
                    Located on the Halifax waterfront, Skypark brings to you the best of the Maritimes
                    with a wide selection of rides that are designed to take your breath away!
                    Established in 1982, we have been dedicated to bringing you
                    the best in entertainment for almost four decades
                </p>
            </div>
            <hr />
            <div class="text-center wow fadeInDown">
                <h2>Rides</h2>
                <p>We offer a range of rides from adrenaline-pumping to mild as per your preference.<br/>
                   Mild Rides: Carousel
                   Moderate Rides: Ferris Wheel
                   Adventurous Rides: Red Baron
                   Extreme Rides: Roller coaster
                </p>
            </div>
            <hr>

            <!-- our-team -->
            <div class="team">
                <div class="text-center wow fadeInDown">
                    <h2>The Team</h2>
                    <p>Meet the team that made it all possible!</p>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="img/man1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Edmond Halley</h4>
                                    <h5>Founder and CEO</h5>
                                </div>
                            </div><!--/.media -->
                            <p>Founded the amusement park in 1982 and leads the organization</p>
                        </div>
                    </div><!--/.col-lg-4 -->


                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="img/man2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Blaise Pascal</h4>
                                    <h5>Operations Manager</h5>
                                </div>
                            </div><!--/.media -->
                            <p>Played a lead role in managing both raw materials and personnel</p>
                        </div>
                    </div><!--/.col-lg-4 -->
                </div> <!--/.row -->
                <div class="row team-bar">
                    <div class="first-one-arrow hidden-xs">
                        <hr>
                    </div>
                    <div class="first-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="second-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="third-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="fourth-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                </div> <!--skill_border-->

                <div class="row clearfix">
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="img/man3.jpg" alt=""></a>
                                </div>

                                <div class="media-body">
                                    <h4>Niels Bohr</h4>
                                    <h5>Marketing Manager</h5>
                                </div>
                            </div><!--/.media -->
                            <p>Developed the marketing strategy of the company</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="img/man4.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Max Born</h4>
                                    <h5>Quality and Safety Control</h5>
                                </div>
                            </div><!--/.media -->
                            <p>Responsible for maintaining standards in manufacturing of rides and testing their safety</p>
                        </div>
                    </div>
                </div>	<!--/.row-->
            </div><!--section-->
        </div><!--/.container-->
    </section><!--/about-us-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        wow = new WOW(
            {

            })
            .init();
    </script>
</body>
</html>
