
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gallery</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GALLERY</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />

    <link href="~/Content/animate.min.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="gallery">
        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal10.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>DRIVERS RIDE</h4>
                        <p>
                            Get a driving licence for your children!
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal2.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>WHITE CASTLE</h4>
                        <p>Take a tour of the Magical Castle!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal3.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>SWING CAROUSEL</h4>
                        <p>Fly high in the sky on our carousel.</p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="container">
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal4.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>ROLLER COASTER</h4>
                        <p>Ride the biggest roller coaster east of Montreal!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal5.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>FERRIS WHEEL</h4>
                        <p>You can see the whole city from the top!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal6.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>WOODEN COASTER</h4>
                        <p>The oldest roller coaster still in operation!! Scary!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal7.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>CAROUSEL</h4>
                        <p>Stay away if you don't like fun!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal8.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>TEA PARTY</h4>
                        <p>Who doesn't love a tea party?!</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="effect-marley">
                    <img src="~/gal9.jpg" alt="" class="img-responsive" style="width:400px;height:250px" />
                    <figcaption>
                        <h4>PIRATE SHIP</h4>
                        <p>Everyone's favorite ride!</p>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
    <!--
        All links in the footer should remain intact.
        Licenseing information is available at: http://bootstraptaste.com/license/
        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Day
    -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        wow = new WOW(
            {

            })
            .init();
    </script>
</body>
</html>
