@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");

    }


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Dashboard</h1>
        <h3>UserName :@Session["Name"].ToString()</h3>
        <a href="@Url.Action("LogOut","Login")">LogOut</a>
    </div>
</body>
</html>