@model ProjectNew.Models.UserAccount

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignUp</h2>

<br />
<h3>Already existing?</h3>@Html.ActionLink("Sign In", "SignIn", "Registration", new { area = "" }, new { @class = "btn" })
