
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignIn</h2>
<br />
<h3>Not a User</h3>@Html.ActionLink("Sign Up", "SignUp", "Registration", new { area = "" }, new { @class = "btn" })

